.page {
    background-color: #e1e1e1;
    color: #5f5f5f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em; /*I heard better to use "em" for font-size. But this is a pain in the ass*/
    line-height: 120%;
    width: 500px;
    margin: auto;
}
.paragraph {
   white-space: pre-line; /*Without "white-space" I was unable to edit line-breaks. Should I just use <br>?*/
}
.h1 {
    font-size: 2.2em;
}
.h2 {
    font-size: 1.4em;
    line-height: 150%;
    color: #5f5f5f;
}
.input:hover {
    cursor: pointer;
}
.footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.footer__cant-see {
    color: #828282;
    font-size: 0.8em;
    text-align: center;
}
.footer__link:hover {
    cursor: pointer;
}
.footer__link:visited {
    color: inherit;
}
.intro {
    background-color: #3498db;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__main-title {
    color: #ffffff;
}
.intro__sub-title {
    color: #205478;
}
.intro__paragraph {
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.column {
    background-color: #ffffff;
    height: 115px;
    margin: auto;
    display: flex;
    justify-content: space-between;    
}
.column__left-column {
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
}
.column__right-column {
    padding-top: 30px;
    padding-right: 30px;
    text-align: left;
}
.confirm-form {
    background-color: #ffffff;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-form__input {
    width: 220px;
    height: 55px;
    color: #ffffff;
    background-color: #3498db;
    border: 1px solid #3498db;
    font-size: 1.3em;
}
.message-title {
    background-color: #f8f8f8;
    height: 150px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

